#tucboard {
    width: 483px;
    height: 483px;
    background-color: blanchedalmond;
    display: flex;
    flex-wrap: wrap;

}

.square {
    height: 23px;
    width: 23px;
    position: relative;

}

.square svg {
    height: 23px;
    width: 23px;
    margin: 3;
    position: relative;
    z-index: -9;
}

path {
    position: relative;
    z-index: -10;
}

.peice {
    position: relative;
    z-index: 9;
}

.beige {
    background-color: rgb(99, 73, 21);
}

.brown {
    background-color: rgb(169, 43, 43);
}