#rightcolumn {
    margin-left: 590px;
}

#tucboard,
#tucpieces {
    width: 483px;
    height: 483px;
    position: absolute;
    top: 8px;
    left: 8px;
    display: flex;
    flex-wrap: wrap;
}

#tucboard {
    background-color: blanchedalmond;
    z-index: 1;
}

#tucpieces {
    z-index: 2;
}

.square {
    height: 23px;
    width: 23px;
    position: relative;

}

.square svg {
    height: 21px;
    width: 21px;
    margin: 3;
    position: relative;
}

path {
    position: relative;
    z-index: -10;
}

.peice {
    position: relative;
    z-index: 9;
}

.beige {
    background-color: rgb(99, 73, 21);
}

.brown {
    background-color: rgb(169, 43, 43);
}

.card {
    /* card border*/
    display: block;
    border-radius: 7px;
    border: solid 2px black;
    width: 50px;
    margin: 7px;
    height: 70px;
    cursor: pointer;
}

.card>p {
    /* card number*/
    position: relative;
    top: 0px;
    right: 0px;
    padding: 0;
    margin: 0;
    left: 15px;
}

.card>p+p {
    /* card suit*/
    color: red;
}