#tucboard,
#tucpieces {
    width: 483px;
    height: 483px;
    position: absolute;
    top: 8px;
    left: 8px;
    display: flex;
    flex-wrap: wrap;
}

#tucboard {
    background-color: blanchedalmond;
    z-index: 1;
}

#tucpieces {
    z-index: 2;
}

.square {
    height: 23px;
    width: 23px;
    position: relative;

}

.square svg {
    height: 23px;
    width: 23px;
    margin: 3;
    position: relative;
}

path {
    position: relative;
    z-index: -10;
}

.peice {
    position: relative;
    z-index: 9;
}

.beige {
    background-color: rgb(99, 73, 21);
}

.brown {
    background-color: rgb(169, 43, 43);
}